<!-- this is the login page! -->


<div id="box">
  <div class="row">
    <div class="large-4 columns">
      <h3>Lost password?</h3>
      <p>
        Lost your password? Just leave the password field blank and click the
        Log In button and we'll send you a coded link via email that will let you
        reset your password.
      </p>
    </div>
    <div class="large-8 columns">
      <h1>Patients Please sign in...</h1>

      <form action="/login" method="POST">
        <div class="large-12 columns">
          <input type="text" id="email" name="email" placeholder="Email address" class="large-4 columns clear">
        </div>
        <div class="large-12 columns">
          <input type="password" id="password" name="password" placeholder="Password" class="large-4 columns">&nbsp;
          <button id="toggle-password-field" class="small button alert">Show Password</button>
        </div>
        <div class="large-12 columns">
          <input type="submit" value="Log In" class="small button">
          <a href="/users/new" class="small button confirm">Sign Up</a>
        </div>
      </form>
    </div>
  </div>
</div>