
<!-- geolocate map code will go here -->


<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1, user-scalable=yes">
    <meta charset="utf-8">
    <style>
      #map-canvas {
        height: 400px;
        width: 550px; 
        margin: 0 auto;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAStL8g_ww8NJWhlqIs9o5ZISwQGJkYtC8&sensor=true"></script>
    <script>
      var map;
      function initialize() {
        var mapOptions = {
          zoom: 17,
           mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
         // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);

            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              //content: 'Location found using HTML5.'
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
      }

      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
     <div id="geolocate"> 
      <div id="map-canvas"></div>
    </div>

    <div id="results">
        <div id="row">
            <h3> Locations near you! </h3>
          <div class="large-6 columns">
            <a alt="View their menu" href="/menu">Sweet &amp; Spicy Dispensary</a>
          </div>
          <div class="large-6 columns">
            Distance: 3.1 Miles
          </div>
        </div>
        <br>
        <div id="row">
          <div class="large-6 columns">
            <a alt="View their menu" href="/menu">The Giving Tree</a>
          </div>
          <div class="large-6 columns">
            Distance: 4.6 Miles
          </div>
        </div>
        <br>
        <div id="row">
          <div class="large-6 columns">
            <a alt="View their menu" href="/menu">Tender Greens :P</a>
          </div>
          <div class="large-6 columns">
            Distance: 4.2 Miles
          </div>
        </div>
        <br>
        <div id="row">
          <div class="large-6 columns">
            <a alt="View their menu" href="/menu">Love Buds</a>
          </div>
          <div class="large-6 columns">
            Distance: 5.2 Miles
          </div>
        </div>
        <br>
        <div id="row">
          <div class="large-6 columns">
            <a alt="View their menu" href="/menu">The Taking Tree</a>
          </div>
          <div class="large-6 columns">
            Distance: 12.1 Miles
          </div>
        </div>
    </div>
  </body>
</html>
<div id="space">
</div>