<div id="landing">
	<form id="location">
	  <div class="row">
	    <div class="small-8">
	      <div class="row">
	        <div class="small-3 columns">
	         	<label for="right-label" class="right">Search your Location</label>
	        </div>
	        <div class="small-9 columns">
	          <input type="text" id="right-label" placeholder="Street, City, Zip, etc...">
	        </div>
	      </div>
	    </div>
	  </div>
	</form>
	<div class="button-bar">
  <ul class="button-group">
    <li><a href="/geolocate" class="medium button">Geo Locate Me</a></li>
    <li><a href="/browse" class="medium button"> or Browse</a></li>
  </ul>
 </div>
 <div>
 	  <a href="/logout" class="small button">Log Out</a>
 </div>
</div>