<div id="menu">
	<div class="row"> <h2> GA O.G. <h2> </div>
	<div class="row">
	  	<div class="large-6 columns">
	  		<img class="kush" src="http://forum.sensiseeds.com/images/users/a_slivovice/afghan_kush_7.jpg">
	  	</div>
	  	<div class="large-6 columns">
	  		<ul>
	  			<li> Type: Hybrid </li>
	  			<li> I/S: 42%/58%
	  			<li> THC/CBD: 14% / 2% </li>
	  			<br>
	  			<li> Average user rating: 4.4/5 </li>
	  		</ul>
	  	</div>
	</div>
	<div class="row">
		<div class="button-bar">
		  <ul class="button-group">
		    <li><a href="/#" class="small button">Rate</a></li>
		    <li><a href="#" class="small button">Comments</a></li>
		    <li><a href="#" class="tiny button alert">Report listing to Admin</a></li>
		  </ul>
		</div>
	</div>
	<div class="row">
		<div class="button-bar">
			<a href="#" class="medium button">Add to cart!</a>
		</div>
	</div>
</div>
<div id="space">
	</div>