/*
 *= require foundation_and_overrides
 *= require_self
 *= require_tree .
 */
body {
	width: 1020px;
 	background-image: url(bkg.jpg);
 	background-size: 900px;
 	background-repeat: no-repeat;
 }
#foot {
	position: fixed;
	height: 40px;
	border-radius: 10px;
	background-color: black;
	color: green;
	bottom: 1px;
}
#foot p {
	padding: 10px;
}
#top_bar h2 {
 	margin-bottom: 50px;
 	height: 70px;
 	color: green;
 	background-color: black;
 }
#landing {
	width: 700px;
	padding: 30px;
	margin: 0 auto;
	background-color: rgba(91, 217, 101, .8);
	border-radius: 20px;
}
#space {
	height: 200px;
}
/*#browse_map {
	background-color: rgba(91, 217, 101, .8);
	padding: 15px;
	width: 555px;
	border-radius: 20px;
	margin: 0 auto;
}*/
#box {
 	background-color: rgba(91, 217, 101, .8);
 	border-radius: 20px;
 	width: 935px;
 	margin: 0 auto;
 }
 #browseMap {
 	height: 450px;
 	margin: 0 auto;
 	padding: 30px;
 	width: 610px;
 	background-color: rgba(91, 217, 101, .8); 
 	border-radius: 15px;

 }
 #formCSS {
	background-color: rgba(91, 217, 101, .8);
	border-radius: 15px;
	width: 765px;
	padding: 50px;
	margin: 0 auto;
}